@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-list
// -----------------------------------------------------------------------------
.m-list {
  $this: &;

  @extend %module-margin;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__item {
    align-items: baseline;
    padding-left: 20px;
    position: relative;

    &::before {
      background-color: var.$PRIMARY_COLOR;
      border-radius: 2px / 50%;
      content: '';
      height: 4px;
      left: 4px;
      position: absolute;
      top: 14px;
      width: 8px;
    }

    > #{$this},
    > .m-notice,
    > .m-list-number {
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-list {
    $this: &;
    row-gap: 11px;
    &__item {
      > #{$this},
      > .m-notice,
      > .m-list-number {
        margin-top: 11px;
      }
    }
  }
}
