@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-list-faq
// -----------------------------------------------------------------------------
.m-list-faq {
  $this: &;
  @extend %module-margin;
  display: flex;
  flex-direction: column;
  &__item {
    border-bottom: 1px solid var.$BORDER_COLOR_2;
    padding-bottom: 16px;
    padding-top: 16px;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__abbr {
    align-items: baseline;
    background-color: var.$PRIMARY_COLOR;
    border: 1px solid var.$PRIMARY_COLOR;
    border-radius: 50%;
    display: flex;
    flex: 0 0 32px;
    font-size: func.px-to-rem(16);
    height: 32px;
    justify-content: center;
    width: 32px;
    z-index: var.$Z_INDEX_LAYER;

  }
  &__question,
  &__answer {
    column-gap: 8px;
    display: flex;
    font-size: func.px-to-rem(18);
    line-height: 1.5;
    position: relative;
  }
  &__question {
    font-weight: bold;
    margin-bottom: 11px;
    z-index: var.$Z_INDEX_LAYER;
    > #{$this}__abbr {
      background-color: var.$PRIMARY_COLOR;
      color: var.$BACKGROUND_COLOR;
      font-weight: normal;
    }
  }
  &__answer {
    > #{$this}__abbr {
      align-items: center;
      background-color: var.$BACKGROUND_COLOR;
      color: var.$PRIMARY_COLOR;
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-list-faq {
    $this: &;
    &__item {
      padding-bottom: 24px;
      padding-top: 24px;
  }
    &__abbr {
      flex: 0 0 40px;
      font-size: func.px-to-rem(20);
      height: 40px;
      width: 40px;
    }
    &__question {
      font-size: func.px-to-rem(20);
      line-height: 1.5;
      margin-bottom: 22px;
      padding-top: 7px;
      > #{$this}__abbr {
        margin-top: -7px;
      }
    }
    &__answer {
      font-size: func.px-to-rem(18);
      line-height: 1.8;
      padding-top: 5px;
      > #{$this}__abbr {
        margin-top: -5px;
      }
    }
    &__question,
    &__answer {
      column-gap: 16px;
    }
  }
}
