@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-list-news
// -----------------------------------------------------------------------------
.m-list-news {
  $this: &;
  margin-bottom: 24px;

  &__item {
    border-bottom: 1px solid #d4d4d4;
  }

  &__wrap {
    color: var.$COLOR_CHIP_16;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 10px;
    position: relative;
    text-decoration: none;

    &:any-link {
      padding-right: 46px;
      // リンクアロー itemで天地中央
      &::before,
      &::after {
        content: '';
        inset: 0 0 0 auto;
        margin: auto;
        position: absolute;
        transition: background-color 0.2s ease-in, background-image 0.2s ease-in,
          right 0.2s ease-in;
      }

      // 丸
      &::before {
        border: 1px solid var.$PRIMARY_COLOR;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }

      // 矢印アイコン
      &::after {
        background-repeat: no-repeat;
        height: 12px;
        right: 8px;
        width: 12px;
        @include mixin.svg(
          $data:
            '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
          $fill: var.$PRIMARY_COLOR
        );
      }
      &:hover,
      &:focus {
        &::before {
          background-color: var.$PRIMARY_COLOR;
        }
        &::after {
          @include mixin.svg(
            $data:
              '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$COLOR_CHIP_WHITE
          );
          right: 7px;
        }
        #{$this}__content {
          text-decoration: underline;
        }
      }
    }
  }
  &__content {
    @extend %reset-margin;
    flex-basis: 100%;
    margin-top: 18px;
  }
  &__text {
    display: block;
    font-size: func.px-to-rem(15);
    margin-bottom: 5px;
  }
  &__subText {
    display: block;
    font-size: func.px-to-rem(12);
  }
  &__data {
    > :last-child {
      margin-right: 0;
    }
  }
  &__time {
    align-self: center;
    color: var.$COLOR_CHIP_16;
    font-size: func.px-to-rem(14);
    line-height: 2;
    margin-right: 8px;
  }
  .m-text-labelPill {
    line-height: 1.4;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-list-news {
    $this: &;
    border-collapse: collapse;
    display: table;
    margin-bottom: 32px;
    width: 100%;

    &__item {
      display: contents;
      padding: 0;
    }
    &__wrap {
      display: table-row;
      &:any-link {
        &::before,
        &::after {
          content: none;
        }
        #{$this}__content {
          padding-right: 56px;
          width: 100%;
          // リンクアロー firefoxで表示崩れの為、指定位置変更
          &::before,
          &::after {
            content: '';
            inset: 0 0 0 auto;
            margin: auto;
            position: absolute;
            transition: background-color 0.2s ease-in, background-image 0.2s ease-in, right 0.2s ease-in;
          }
          // 丸
          &::before {
            border: 1px solid var.$PRIMARY_COLOR;
            border-radius: 50%;
            height: 40px;
            right: 0;
            width: 40px;
          }

          // 矢印アイコン
          &::after {
            background-repeat: no-repeat;
            height: 15px;
            right: 11px;
            width: 15px;
            @include mixin.svg(
              $data:
                '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
              $fill: var.$PRIMARY_COLOR
            );
          }
        }
        &:hover,
        &:focus {
          #{$this}__content {
            text-decoration: underline;
            &::before {
              background-color: var.$PRIMARY_COLOR;
            }
            &::after {
              @include mixin.svg(
                $data:
                  '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
                $fill: var.$COLOR_CHIP_WHITE
              );
              right: 9px;
            }
          }
        }
      }
    }
    &__data,
    &__content {
      border-bottom: 1px solid #d4d4d4;
      display: table-cell;
    }

    &__data {
      padding: 32px 0px 32px 16px;
      white-space: nowrap;
    }
    &__time {
      align-self: baseline;
    }
    &__content {
      padding: 32px 20px;
      position: relative;
      &__text {
        font-size: func.px-to-rem(16);
      }
      &__subText {
        font-size: func.px-to-rem(12);
      }
    }
  }
}
