@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-list-number
// -----------------------------------------------------------------------------
.m-list-number {
  $this: &;
  @extend %module-margin;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  &__item {
    padding-left: calc(1em + 8px);
    position: relative;
    > #{$this},
    > .m-notice,
    > .m-list {
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
  &__number {
    color: var.$PRIMARY_COLOR;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 1em;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-list-number {
    $this: &;
    &__item {
      > #{$this},
      > .m-notice,
      > .m-list {
        margin-top: 11px;
      }
    }
  }
}
