@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// メインコンテンツ
// -----------------------------------------------------------------------------
// .l-heading-level1
// -----------------------------------------------
.l-heading-level1 {
  $this: &;
  background-image: linear-gradient(to right, #E4F6F2, #BDE9DF);
  &::before {
    background-image: linear-gradient(to left, #E4F6F2, #BDE9DF);
  }
  &::after {
    background-image: linear-gradient(to right, #E4F6F2, #BDE9DF);
  }
}
