@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

.button {
  $this: &;
  
  background-color: var.$SECONDARY_COLOR;
  border-radius: 8px;
  padding: 8px 24px!important;
  font-weight: bold;
  color: var.$COLOR_CHIP_WHITE;
  &:hover,
  &:focus-visible {
    color: var.$COLOR_CHIP_WHITE;
    opacity: .8;
  }

  &__layout {
    gap: 16px;
  }
}


// Wide Viewport
@include mixin.media-query {
  .button {
    $this: &;

  }
}
