@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-media-map
// -----------------------------------------------------------------------------
.m-media-map {
  $this: &;
  max-width: 700px;
  &__wrap {
    aspect-ratio: 5 / 3;
  }
  &--maxWidth-600 {
    max-width: 600px;
  }
  &--maxWidth-1000 {
    max-width: 1000px;
  }
}
