@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-form-checkbox
// -----------------------------------------------------------------------------
.m-form-checkbox {
  $this: &;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px 0;

  &__label {
    display: inline-block;
    position: relative;
    &:focus,
    &:hover,
    &:focus-within {
      #{$this}__text {
        &::before {
          border-color: var.$PRIMARY_COLOR;
          outline: 1px solid var.$PRIMARY_COLOR;
        }
      }
      #{$this}__input--error + #{$this}__text {
        &::before {
          border-color: var.$COLOR_CHIP_15;
          outline-color: var.$COLOR_CHIP_15;
        }
      }
    }
  }
  &__input {
    display: block;
    height: 0;
    left: 0.5em;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0.5em;
    width: 0;
    z-index: var.$Z_INDEX_BEHIND;
    &:checked {
      + #{$this}__text {
          &::after {
            content: '';
          }
      }
    }
    &--error {
      + #{$this}__text {
        &::before {
          background-color: var.$COLOR_CHIP_11;
          border-color: var.$COLOR_CHIP_15;
        }
      }
    }
  }
  &__text {
    align-items: center;
    display: flex;
    font-size: func.px-to-rem(14);
    padding-left: 2.2em;
    position: relative;
    z-index: var.$Z_INDEX_LAYER;
    &::before {
      background-color: var.$BACKGROUND_COLOR;
      border: 1px solid var.$BORDER_COLOR;
      border-radius: 4px;
      content: '';
      display: block;
      height: 24px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;
      z-index: var.$Z_INDEX_DEFAULT;
    }
    &::after {
      @include mixin.svg(
        $data:
          '<path d="M-9453.171-9786.44l-5.306-6.258,2.289-1.939,3.173,3.742,8.609-8.82,2.146,2.1Z" transform="translate(9458.477 9799.716)"/>',
        $fill: var.$PRIMARY_COLOR,
        $width: 100,
        $height: 100
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 100px;
      left: 4px;
      pointer-events: none;
      position: absolute;
      top: 57px;
      transform: translateY(-50%);
      width: 100px;
      z-index: var.$Z_INDEX_LAYER;
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-form-checkbox {
    $this: &;

    flex-direction: row;
    gap: 16px 32px;
    margin-top: 0;
  }
}
