@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-form-error
// -----------------------------------------------------------------------------
.m-form-error {
  $this: &;
  color: var.$COLOR_CHIP_15;
  display: block;
  font-size: func.px-to-rem(14);
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 6px;
  padding-left: 22px;
  position: relative;

  &::before {
    background-image: url('/assets/images/icon/icon-error.svg');
    content: '';
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
}

// Wide Viewport
// @include mixin.media-query {
//   .m-form-error {
//     $this: &;
//   }
// }
