@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-form-label
// -----------------------------------------------------------------------------
.m-form-label {
  $this: &;
  display: inline-flex;
  flex-direction: column;
  &__text {
    display: inline-block;
    font-size: func.px-to-rem(14);
    font-weight: bold;
    margin-bottom: 8px;
  }
}

// Wide Viewport
// @include mixin.media-query {
//   .m-form-label {
//     $this: &;
//   }
// }
