@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-form-note
// -----------------------------------------------------------------------------
.m-form-note {
  $this: &;
  color: var.$COLOR_CHIP_16;
  display: inline-block;
  font-size: func.px-to-rem(12);
  margin-bottom: 3px;
}

// Wide Viewport
// @include mixin.media-query {
//   .m-form-note {
//     $this: &;
//   }
// }
