@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-form-select
// -----------------------------------------------------------------------------
.m-form-select {
  $this: &;

  position: relative;
  width: 100%;
  &::after {
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    height: 8px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 0.3s;
    width: 8px;
    @include mixin.svg(
      $data:
        '<path d="M97.2,22.3C97.1,22.2,97,22.1,97,22c-3.7-3.6-9.6-3.4-13.2,0.3L50,57.1L16.2,22.3c-0.1-0.1-0.2-0.2-0.3-0.3c-3.7-3.6-9.6-3.4-13.2,0.3c-3.7,3.9-3.7,10,0,13.9l40.4,41.6c0.1,0.1,0.2,0.2,0.3,0.3c1.9,1.8,4.3,2.6,6.7,2.6c2.4,0,4.8-1,6.6-2.8l40.4-41.6C100.9,32.3,100.9,26.2,97.2,22.3z"/>',
      $fill: var.$COLOR
    );
  }
  &__item {
    appearance: none;
    background-color: var.$BACKGROUND_COLOR;
    border: 1px solid var.$BORDER_COLOR;
    border-radius: 3px;
    font-size: func.px-to-rem(14);
    line-height: 2;
    padding: 8px 25px 8px 15px;
    width: 100%;
    &:focus,
    &:hover,
    &:focus-within {
      border: 1px solid var.$PRIMARY_COLOR;
      outline: 1px solid var.$PRIMARY_COLOR;
    }
    &--error {
      background-color: var.$BACKGROUND_COLOR_8;
      border-color: var.$COLOR_CHIP_15;
      &:focus,
      &:hover,
      &:focus-within {
        border-color: var.$COLOR_CHIP_15;
        outline-color: var.$COLOR_CHIP_15;
      }
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-form-select {
    $this: &;
    display: inline-block;
    width: max-content; // .m-form-group内でselectラッパーのみflexアイテムとして100%になる対策
    &__item {
      width: auto;
    }
  }
}
