@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// // .m-frm-textarea
// // -----------------------------------------------------------------------------
.m-form-textarea {
  $this: &;
  background-color: var.$BACKGROUND_COLOR;
  border: 1px solid var.$BORDER_COLOR;
  border-radius: 3px;
  padding: 8px 10px 7px;
  width: 100%;
  &:focus,
  &:hover,
  &:focus-within {
    border: 1px solid var.$PRIMARY_COLOR;
    outline: 1px solid var.$PRIMARY_COLOR;
  }
  &--error {
    background-color: var.$BACKGROUND_COLOR_8;
    border-color: #d91d00;
    &:focus,
    &:hover,
    &:focus-within {
      border-color: #d91d00;
      outline-color: #d91d00;
    }
  }
}

// // Wide Viewport
// @include mixin.media-query {
//     .m-form-textarea {
//         $this: &;
//     }
// }
