@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-notice
// -----------------------------------------------------------------------------
.m-notice {
  $this: &;
  @extend %module-margin;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  &__item {
    align-items: baseline;
    column-gap: 8px;
    display: flex;
    font-size: func.px-to-rem(var.$FONT_SIZE_NOTICE_NARROW);
  }
  &__mark {
    flex: 0 0 auto;
  }
  &--number {
    #{$this}__item {
      column-gap: 0;
    }
  }
  &--small {
    row-gap: 9px;
    #{$this}__item {
      font-size: func.px-to-rem(12);
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-notice {
    $this: &;
    row-gap: 8px;
    &__item {
      column-gap: 16px;
      font-size: func.px-to-rem(var.$FONT_SIZE_NOTICE_WIDE);
    }
    &--small {
      row-gap: 10px;
      #{$this}__item {
        font-size: func.px-to-rem(14);
      }
    }
  }
}
