@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-widget-carousel
// -----------------------------------------------------------------------------
.m-widget-carousel {
  $this: &;
  margin: 0 -20px 40px;
  overflow: hidden;
  padding: 32px 30px 0;
  position: relative;
  &__list {
    display: flex;
    gap: 24px;
    &.js-carouselJson__wrapper,
    &.js-carousel__wrapper {
      @include mixin.on-js {
        gap: 0 !important;
      }
      @include mixin.off-js {
        flex-direction: column;
      }
    }
  }
  &__item {
    flex-shrink: 0;
    width: 295px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    height: 100%;
    &:any-link {
      color: var.$COLOR;
      text-decoration: none;
      &:hover,
      &:focus {
        #{$this}__title {
          text-decoration: none;
        }
        #{$this}__img {
          opacity: .7;
        }
      }
      #{$this}__title {
        text-decoration: underline;
      }
    }
  }
  &__subTitle {
    color: var.$COLOR_CHIP_16;
    font-size: func.px-to-rem(14);
    font-weight: bold;
  }
  &__text {
    color: var.$COLOR_CHIP_16;
    font-size: func.px-to-rem(14);
  }
  &__imgContainer {
    order: -1;
    overflow: hidden;
    text-align: center;
  }
  &__img {
    aspect-ratio: 37 / 26;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    transition: opacity .3s ease-out;
    vertical-align: middle;
    width: 100%;
  }
  &__control {
    align-items: flex-end;
    display: flex;
    gap: 24px;
  }
  &__counter {
    align-items: baseline;
    color: var.$COLOR_CHIP_16;
    display: inline-flex;
    font-family: var.$FONT_FAMILY_SANS_ENG;
    font-size: func.px-to-rem(16);
    gap: 0.5em;
    left: 30px;
    position: absolute;
    top: 0;
  }
  &__counterNumber {
    &--current {
      font-size: func.px-to-rem(18);
    }
  }
  &__navButton {
    background-color: var.$BACKGROUND_COLOR;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    border: 1px solid #717171;
    border-radius: 50%;
    font-size: 0;
    height: 50px;
    margin: auto 0;
    position: absolute;
    top: 114px;
    transition: background-color ease-in 0.2s, border-color ease-in 0.2s,
      background-image ease-in 0.2s;
    width: 50px;
    &:hover,
    &:focus {
      background-color: var.$PRIMARY_COLOR;
      border-color: var.$PRIMARY_COLOR;
    }
    &--prev {
      @include mixin.svg(
        $data:
          '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
        $fill: #717171
      );
      left: 0;
      &:hover,
      &:focus {
        @include mixin.svg(
          $data:
            '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
          $fill: var.$COLOR_CHIP_WHITE
        );
      }
      &:disabled {
        background-color: var.$COLOR_CHIP_13;
        border-color: var.$COLOR_CHIP_13;
        @include mixin.svg(
          $data:
            '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
          $fill: #999999
        );
      }
    }
    &--next {
      @include mixin.svg(
        $data:
          '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
        $fill: #717171
      );
      right: 10px;
      &:hover,
      &:focus {
        @include mixin.svg(
          $data:
            '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
          $fill: var.$COLOR_CHIP_WHITE
        );
      }
      &:disabled {
        background-color: var.$COLOR_CHIP_13;
        border-color: var.$COLOR_CHIP_13;
        @include mixin.svg(
          $data:
            '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
          $fill: #999999
        );
      }
    }
  }
  &--colorType2 {
    #{$this}__item {
      background-color: var.$BACKGROUND_COLOR;
    }
    #{$this}__wrap {
      padding: 0 16px 16px;
      &:any-link {
        padding-bottom: 52px;
        position: relative;
        &::before,
        &::after {
          content: '';
          inset: auto 0 0 auto;
          margin: auto;
          position: absolute;
        }
        &::before {
          border: 1px solid var.$PRIMARY_COLOR;
          border-radius: 50%;
          bottom: 16px;
          height: 24px;
          right: 16px;
          width: 24px;
        }
        // 矢印
        &::after {
          background-repeat: no-repeat;
          bottom: 24px;
          height: 10px;
          right: 22px;
          transition: background-image 0.2s;
          width: 10px;
          @include mixin.svg(
            $data:
              '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$PRIMARY_COLOR
          );
        }
        &:hover,
        &:focus {
          #{$this}__title {
            text-decoration: underline;
          }
          &::before {
            background-color: var.$PRIMARY_COLOR;
          }
          &::after {
            @include mixin.svg(
              $data:
                '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
              $fill: var.$BACKGROUND_COLOR
            );
          }
        }
        #{$this}__title {
          text-decoration: none;
        }
      }
    }
    #{$this}__imgContainer {
      margin: 0 -16px;

      #{$this}__img {
        aspect-ratio: 3/2;
        object-fit: cover;
      }
    }
  }
  .m-text-labelList {
    margin-top: auto;
  }
}

  .js-carouselJson__error {
      @include mixin.on-js {
        display: none;
      }
  }

// Wide Viewport
@include mixin.media-query {
  .m-widget-carousel {
    $this: &;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    padding: 32px 66px 0;

    &__inner {
      overflow: hidden;
    }
    &__list {
      gap: 40px;
    }
    &__item {
      width: 400px;
    }
    &__title {
      font-size: func.px-to-rem(18);
      font-weight: bold;
      line-height: 1.6;
    }
    &__label {
      font-size: func.px-to-rem(12);
    }
    &__counter {
      left: 66px;
    }
    &__navButton {
      top: 147px;
      &--next {
        right: 0;
      }
    }
  }
}
