@font-face {
  font-display: swap;
  font-family: 'MyNotoSansJP';
  font-weight: 400;
  src: url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.woff') format('woff'),
    url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'MyNotoSansJP';
  font-weight: 500;
  src: url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.woff') format('woff'),
    url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'MyNotoSansJP';
  font-weight: 700;
  src: url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.woff') format('woff'),
    url('/assets/fonts/Noto_Sans_JP/NotoSansJP-Bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'MyMontserrat';
  font-weight: 600;
  src: url('/assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('/assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'MyMontserrat';
  font-weight: 700;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
