@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .un-top-footerBanner
// -----------------------------------------------
.un-top-footerBanner {
  $this: &;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  &__item {
    flex: 0 0 286px;
  }
  &__wrap {
    width: 100%;
    &:any-link {
      display: inline-block;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
        #{$this}__img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__imgContainer {
    align-items: center;
    aspect-ratio: 143 / 40;
    background-color: var.$BACKGROUND_COLOR;
    border: 1px solid var.$BORDER_COLOR;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    overflow: hidden;
  }
  &__img {
    aspect-ratio: 143 / 40;
    object-fit: scale-down;
    transition: transform 0.3s ease-out;
    vertical-align: middle;
  }
}

// // Wide Viewport
// @include mixin.media-query {
//   .un-top-footerBanner {
//     $this: &;
//   }
// }
