@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .un-top-layout-row-wide
// -----------------------------------------------------------------------------
.un-top-layout-row-wide {
  &__body {
    @extend %reset-margin;
  }

  .m-list-news {
    &__item {
      &:first-of-type {
        border-top: 1px solid #d4d4d4;
      }
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-top-layout-row-wide {
    $this: &;
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    &__head {
      flex-shrink: 0;
    }

    &__body {
      flex: 0 1 clamp(620px, 78%, 1008px);
    }
    .m-list-news {
      &__data,
      &__content {
        &:first-of-type {
          border-top: 1px solid #d4d4d4;
        }
      }
    }
  }
}
