@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-box
// -----------------------------------------------------------------------------
.m-box {
  $this: &;
  @extend %module-margin-large;

  background-color: var.$BACKGROUND_COLOR;
  border: 1px solid var.$BORDER_COLOR;
  padding: 16px 24px;

  &__content {
    @extend %reset-margin;
  }

  &--bcGray {
    background-color: var.$BACKGROUND_COLOR_4;
    border: unset;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-box {
    $this: &;

    padding: 32px 48px;
  }
}
