@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-box-profile
// -----------------------------------------------------------------------------
.m-box-profile {
  $this: &;
  @extend %module-margin-large;
  @include mixin.inlineLinkIcon($link: '.m-box-profile__headLink');

  &__head {
    background-color: var.$BACKGROUND_COLOR_5;
    padding: 16px;
  }
  &__headTitle {
    font-size: func.px-to-rem(20);
    line-height: 1.5;
  }
  &__headLink {
    &:any-link {
      color: var.$COLOR;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &__body {
    @extend %reset-margin;
    background-color: var.$BACKGROUND_COLOR_4;
    padding: 16px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-box-profile {
    $this: &;
    &__head {
      padding: 24px 32px;
    }
    &__headTitle {
      font-size: func.px-to-rem(24);
    }
    &__body {
      padding: 24px 32px;
    }
  }
}
