@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// メインビジュアル
// -----------------------------------------------------------------------------
// .un-englishTop-l-mv
// -----------------------------------------------
.un-englishTop-l-mv{
  $this: &;
  grid-column: 1 / 4;
  margin-bottom: var.$MOD_GUTTER_NARROW_L;
  text-align: center;
  z-index: var.$Z_INDEX_LAYER;
  &__img {
    vertical-align: middle;
  }
  & + .l-content__outer {
    padding-top: 0;
  }

  > .m-media {
    margin-bottom: 0;
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-englishTop-l-mv{
    $this: &;
    margin-bottom: 48px;
  }
}
