@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// ヘッダー
// -----------------------------------------------------------------------------
// .l-header
// -----------------------------------------------
.post {
  $this: &;

  &__head {
    font-size: func.px-to-rem(16);
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

}

// Wide Viewport
@include mixin.media-query {
  .post {
    $this: &;

  }
}