@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// display
// -----------------------------------------------------------------------------
.u-display {
  $map: (
    none: none,
    inline: inline,
    inlineBlock: inline-block,
    block: block,
    flex: flex,
    inlineFlex: inline-flex,
  );

  @each $key, $val in $map {
    &-#{$key} {
      display: $val !important;
    }
  }

  // Narrow Viewport
  @include mixin.media-query($range: below) {
    @each $key, $val in $map {
      &-#{$key}-narrow {
        display: $val !important;
      }
    }
  }

  // Wide Viewport
  @include mixin.media-query {
    @each $key, $val in $map {
      &-#{$key}-wide {
        display: $val !important;
      }
    }
  }
}
