@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// Common style
// -----------------------------------------------------------------------------
.m-table,
.m-table-small {
  $this: &;
  @extend %module-margin-large;
  &__inner {
    width: 100%;
  }
  &__th {
    background-color: var.$BACKGROUND_COLOR_5;
    font-weight: bold;
    vertical-align: top;
  }
  &__td {
    @extend %reset-margin;
    background-color: var.$BACKGROUND_COLOR_4;
    vertical-align: top;
  }
  &--scroll {
    &__icon {
      display: none;
    }
  }
  &--bcGreen {
    .m-table__th,
    .m-table-small__th {
      background-color: var.$BACKGROUND_COLOR_9;
    }

    .m-table__td,
    .m-table-small__td {
      background-color: var.$BACKGROUND_COLOR_10;
    }
  }
}

// Narrow Viewport
@include mixin.media-query($range: below) {
  .m-table-small {
    $this: &;

    &--scroll {
      position: relative;
      &:hover,
      &:focus,
      &:focus-within {
        #{$this}--scroll__icon {
          opacity: 0;
        }
      }
      &__icon {
        background-color: rgba($color: #666, $alpha: .8);
        border-radius: 50%;
        height: 80px;
        inset: 0;
        margin: auto;
        position: absolute;
        transition: opacity .3s ease-in;
        width: 80px;
        &::before {
          content: '';
          height: 40px;
          inset: -14px 0 0 -10px;
          margin: auto;
          position: absolute;
          width: 40px;
          @include mixin.svg(
            $data:
              '<path d="M87.3 35.8c-1.4 0-2.6.3-3.8.8-.4-.7-.9-1.4-1.5-2-1.7-1.7-4-2.7-6.5-2.7-1.3 0-2.6.3-3.8.8-1.5-2.8-4.5-4.8-7.9-4.9-1.4 0-2.8.3-4.1.9v-11.4c0-5.1-4.1-9.2-9.2-9.2s-9.2 4.1-9.2 9.2v27.6l-3.1-4.3c-1.3-2.1-3.3-3.6-5.6-4.2-2.4-.6-4.9-.3-7 1-2.1 1.3-3.6 3.3-4.2 5.6-.6 2.4-.3 4.9 1 7 0 .1.1.2.2.3l8.9 13c1.9 3.8 3.3 7.9 4.2 12.1.3 1.4.6 2.7.9 3.9 1.2 4.9 3.7 9.2 7.3 12.7v5.4c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6v-6.6c0-.8-.3-1.5-.9-2-3.2-2.8-5.4-6.5-6.4-10.8-.3-1.2-.6-2.4-.9-3.8-1-4.7-2.6-9.2-4.7-13.5l-.2-.3-9.1-13.2c-.5-.9-.7-2-.4-3 .3-1 .9-1.9 1.8-2.4s2-.7 3-.4c1 .3 1.9.9 2.6 2l8 11c.7.9 1.9 1.3 2.9 1 1.1-.4 1.8-1.4 1.8-2.5v-35.6c0-2.2 1.8-3.9 3.9-3.9 2.2 0 3.9 1.8 3.9 3.9v18.7c0 1.4 1.1 2.5 2.4 2.6 1.4.1 2.6-.9 2.8-2.3.3-2 1.9-3.4 4-3.4 2.2.1 3.9 1.9 3.8 4.1 0 1.1.7 2.1 1.8 2.5 1.1.4 2.3 0 2.9-.9.7-1 1.9-1.6 3.2-1.6 1.1 0 2 .4 2.8 1.2.7.7 1.1 1.7 1.1 2.8 0 1.1.7 2.1 1.8 2.5 1.1.4 2.3 0 2.9-.9.7-1 1.9-1.6 3.2-1.6 1.1 0 2 .4 2.8 1.2.7.7 1.1 1.7 1.1 2.8v33.4c-.6 4.2-3 7.9-6.6 10.2-.8.5-1.2 1.3-1.2 2.2v6.6c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6v-5.2c4.3-3.2 7.2-7.9 7.9-13.3v-33.9c0-2.5-.9-4.8-2.7-6.5-1.6-1.8-3.9-2.7-6.3-2.7zM96.5 9.7l-8.9-8.9c-1-1-2.7-1-3.7 0s-1 2.7 0 3.7l4.4 4.4h-17.3c-1.5 0-2.6 1.2-2.6 2.6s1.2 2.6 2.6 2.6h17.3l-4.4 4.4c-1 1-1 2.7 0 3.7.5.5 1.2.8 1.9.8s1.3-.3 1.9-.8l8.9-8.9c.9-1 .9-2.6-.1-3.6zM11.7 14.1h17.3c1.4 0 2.6-1.2 2.6-2.6s-1.1-2.6-2.6-2.6h-17.3l4.4-4.4c1-1 1-2.7 0-3.7s-2.7-1-3.7 0l-8.9 8.9c-1 1-1 2.7 0 3.7l8.9 8.9c.5.5 1.2.8 1.9.8s1.3-.3 1.9-.8c1-1 1-2.7 0-3.7l-4.5-4.5z"/>',
            $fill: var.$COLOR_CHIP_WHITE
          );
        }
      }
      &__iconText {
        bottom: 10px;
        color: var.$COLOR_CHIP_WHITE;
        font-size: func.px-to-rem(10);
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
      }
      &__container { // &--scroll専用tableラッパー スクロールアイコンセンタリング用
        overflow-x: auto;
        &[tabindex] {
          #{$this}--scroll__icon {
            display: block;
          }
        }
      }
      #{$this}__inner {
        width: 767px;
      }
    }
  }
}

// Wide Viewport
// @include mixin.media-query {
//   .m-table,
//   .m-table-small {
//     $this: &;
//   }
// }
