@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-table
// -----------------------------------------------------------------------------
.m-table {
  $this: &;
    border-bottom: 1px solid var.$BORDER_COLOR;
  &__thead {
    #{$this}__th {
      vertical-align: middle;
    }
    #{$this}__td {
      background-color: var.$BACKGROUND_COLOR_5;
    }
  }
  &__th {
    border-top: 1px solid var.$BORDER_COLOR;
  }
  &__subtitle {
    display: block;
    font-weight: normal;
  }
  &__layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__layoutButton,
  &__layoutText {
    @extend %reset-margin;
  }
  &--horizontal-narrow {
    border-top: 1px solid var.$BORDER_COLOR;
    #{$this}__th,
    #{$this}__td {
      border: 1px solid var.$COLOR_CHIP_WHITE;
    }
    #{$this}__thead {
      #{$this}__tr {
        &:first-child {
          #{$this}__th,
          #{$this}__td {
            border-top: none;
          }
        }
      }
    }
    #{$this}__tbody {
      #{$this}__tr {
        &:last-child {
          #{$this}__th,
          #{$this}__td {
            border-bottom: none;
          }
        }
      }
    }
  }
  .m-layout-button {
    flex-direction: column;
    gap: 8px;
  }
  .m-text,
  .m-text-lead {
    margin-bottom: 16px;
  }
}

// Narrow Viewport
@include mixin.media-query($range: below) {
  .m-table {
    $this: &;
    &__colgroup {
      display: block;
    }
    &__th,
    &__td {
      display: block;
      padding: 14px;
    }
    &__subtitle {
      font-size: func.px-to-rem(14);
      &:first-child {
        margin-top: 8px;
      }
    }
    &--horizontal-narrow {
      #{$this}__colgroup {
        display: table-column-group;
      }
      #{$this}__th,
      #{$this}__td {
        display: table-cell;
      }
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-table {
    $this: &;
    &__th,
    &__td {
      padding: 20px 24px;
    }
    &__td {
      border-top: 1px solid var.$BORDER_COLOR;
    }
    &__subtitle {
      &:first-child {
        margin-top: 18px;
      }
    }
    &__layout {
      column-gap: 32px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
