@use '../../../../_common/variable' as var;
@use '../../../../_common/mixin/' as mixin;
@use '../../../../_common/extend/' as *;
@use '../../../../_common/function/' as func;

// .m-heading-level2
// -----------------------------------------------------------------------------
.m-heading-level2 {
  $this: &;
  &::before {
    background-color: #008B8B;
  }
  &::after {
    background-color: #4DC5AC;
  }
}
