@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel
// -----------------------------------------------------------------------------
.m-panel {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 24px;
  &__item {
    background-color: var.$BACKGROUND_COLOR;
    border-bottom: 1px solid var.$BORDER_COLOR_2;
    padding-bottom: 24px;
  }
  &__wrap {
    color: var.$COLOR;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    row-gap: 8px;
    text-decoration: none;
    width: 100%;
    &:any-link {
      &::before,
      &::after {
        content: '';
        inset: auto 0 0 auto;
        margin: auto;
        position: absolute;
      }
      &::before {
        border: 1px solid var.$PRIMARY_COLOR;
        border-radius: 50%;
        bottom: 0;
        height: 30px;
        right: 4px;
        transition: background-color 0.3s;
        width: 30px;
      }
      // アイコンを追加
      &::after {
        background-repeat: no-repeat;
        bottom: 9px;
        height: 12px;
        right: 13px;
        transition: fill 0.3s, right 0.3s;
        width: 12px;
        @include mixin.svg(
          $data:
            '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
          $fill: var.$PRIMARY_COLOR
        );
      }
      #{$this}__content {
        > :last-child,
        > #{$this}__text:nth-last-child(2) {
          margin-right: 38px;
        }
      }
      &:hover,
      &:focus {
        #{$this}__image {
          opacity: .7;
        }
        #{$this}__title {
          text-decoration: underline;
          .m-text-newLabel {
            text-decoration: none;
          }
        }
        &::before {
          background-color: var.$PRIMARY_COLOR;
        }
        &::after {
          right: 10px;
          @include mixin.svg(
            $data:
              '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$BACKGROUND_COLOR
          );
        }
      }
    }
  }
  &__content {
    @extend %reset-margin;
    flex: 1 1 0%;
    > * {
      margin-bottom: 8px;
    }
  }
  &__title {
    display: block;
    font-size: func.px-to-rem(18);
    line-height: 1.6;
    & + & {
      margin-top: -8px;
    }
  }
  &__text {
    font-size: func.px-to-rem(12);
    & + & {
      margin-top: -8px;
    }
  }
  &__media {
    text-align: center;
  }
  &__image {
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
  .m-text-labelList {
    font-weight: 400;
    gap: 4px 8px;
    margin-top: 16px;
  }
  .m-text-label {
    padding: 2px 16px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel {
    $this: &;
    row-gap: 0;
    &__item {
      padding-bottom: 0;
      & + & {
        margin-top: 1px;
      }
    }
    &__wrap {
      align-items: start;
      column-gap: 24px;
      flex-direction: row-reverse;
      padding: 24px;
      &:any-link {
        padding-right: 72px;
        &::before,
        &::after {
          bottom: 50%;
          top: 50%;
        }
        &::before {
          height: 40px;
          right: 24px;
          width: 40px;
        }
        &::after {
          height: 16px;
          right: 35px;
          width: 16px;
        }
        &:hover,
        &:focus {
          &::after {
            right: 30px;
          }
        }
        #{$this}__content {
          > :last-child,
          > #{$this}__text:nth-last-child(2) {
            margin-right: 0;
          }
        }
      }
    }
    &__content {
      > :last-child {
        margin-right: 0;
      }
    }
    &__text {
      font-size: func.px-to-rem(14);
    }
    &__media {
      flex: 0 0 160px;
      max-height: 120px;
      max-width: 160px;
      overflow: hidden;
    }
    &__image {
      aspect-ratio: 4 / 3;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
      width: 100%;
    }
    .m-text-labelList {
      margin-top: 0;
    }
  }
}
