@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel-distributor
// -----------------------------------------------------------------------------
.m-panel-distributor {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 16px;
  &__item {
    background-color: var.$BACKGROUND_COLOR;
    border: 1px solid #B5BBD1;
  }
  &__wrap {
    color: var.$COLOR;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 16px;
    position: relative;
    row-gap: 14px;
    &:any-link {
      text-decoration: none;
      #{$this}__title {
        text-decoration: none;
      }
      &:hover,
      &:focus {
        #{$this}__title {
          text-decoration: underline;
        }
        #{$this}__image {
          opacity: .7;
        }
        #{$this}__iconLink {
          background-color: var.$PRIMARY_COLOR;
        }
        #{$this}__iconLinkArrow {
          fill: var.$COLOR_CHIP_WHITE;
          transform: translateX(4px);
        }
      }
    }
  }
  &__content {
    @extend %reset-margin;
    flex: 1 1 100%;
    .m-link-icon {
      margin: 0 6px;
    }
  }
  &__title {
    display: inline-block;
    line-height: 1.6;
    margin-bottom: 9px;
    text-decoration: none;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-size: func.px-to-rem(14);
    margin-bottom: 8px;
  }
  &__media {
    align-self: center;
    overflow: hidden;
    text-align: center;
  }
  &__image {
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
  &__iconLink {
    background-color: var.$BACKGROUND_COLOR;
    border-radius: 50%;
    fill: var.$PRIMARY_COLOR;
    height: 24px;
    margin-left: 4px;
    margin-top: -2px;
    transition: background-color .2s ease-in;
    vertical-align: middle;
    width: 24px;
  }
  &__iconLinkArrow {
    transition: transform 0.2s ease-in, fill 0.2s ease-in;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel-distributor {
    $this: &;
    gap: 30px;
    &__wrap {
      column-gap: 32px;
      flex-direction: row-reverse;
      height: 100%;
      padding: 32px 48px;
      row-gap: normal;
    }
    &__text {
      font-size: func.px-to-rem(16);
    }
    &__media {
      align-self: flex-start;
      max-width: 220px;
    }
  }
}
