@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel-type2
// -----------------------------------------------------------------------------
.m-panel-type2 {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 16px;

  &__item {
    background-color: var.$BACKGROUND_COLOR;
    border: 1px solid var.$BACKGROUND_COLOR_4;
  }

  &__wrap {
    color: var.$COLOR;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    text-decoration: none;
    &:hover,
    &:focus {
      #{$this}__title {
        text-decoration: underline;
        &::before {
          background-color: var.$PRIMARY_COLOR;
        }
        &::after {
          @include mixin.svg(
            $data:
              '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$BACKGROUND_COLOR
          );
        }
      }

      #{$this}__image {
        opacity: .7;
      }
    }
  }

  &__title {
    font-size: func.px-to-rem(16);
    line-height: 1.6;
    padding: 16px;
    padding-right: 48px;
    position: relative;

    &::before,
    &::after {
      content: '';
      inset: auto 0 0 auto;
      margin: auto;
      position: absolute;
    }

    &::before {
      border: 1px solid var.$PRIMARY_COLOR;
      border-radius: 50%;
      bottom: 16px;
      height: 24px;
      right: 16px;
      width: 24px;
    }

    // 矢印
    &::after {
      background-repeat: no-repeat;
      bottom: 24px;
      height: 10px;
      right: 22px;
      transition: background-image 0.2s;
      width: 10px;
      @include mixin.svg(
        $data:
          '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
        $fill: var.$PRIMARY_COLOR
      );
    }
  }

  &__media {
    overflow: hidden;
    text-align: center;
  }

  &__image {
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel-type2 {
    $this: &;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    &__item {
      & + & {
        margin-top: 1px;
      }
    }
    &__image {
      aspect-ratio: 16 / 9;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
      width: 100%;
    }
  }
}
