@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel-type5
// -----------------------------------------------------------------------------
.m-panel-type5 {
  $this: &;
  @extend %module-margin;
  @include mixin.inlineLinkIcon($link: '.m-panel-type5__wrap');

  &__item {
    border-bottom: 1px solid var.$BORDER_COLOR_2;
    &:first-of-type {
      #{$this}__wrap {
        padding-top: 0;
      }
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 24px;
    padding-top: 24px;
    row-gap: 16px;
    &:any-link {
      text-decoration: none;
      &:hover,
      &:focus {
        #{$this}__title {
        text-decoration: underline;
        }
        #{$this}__image {
          opacity: .7;
        }
      }
    }
  }
  &__content {
    @extend %reset-margin;
  }
  &__title,
  &__subTitle,
  &__text {
    line-height: 1.6;
  }
  &__title {
    color: var.$COLOR;
    font-size: func.px-to-rem(18);
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__subTitle {
    color: var.$COLOR;
    font-size: func.px-to-rem(15);
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__text {
    color: var.$COLOR_CHIP_16;
    font-size: func.px-to-rem(14);
    margin-bottom: 8px;
  }
  &__media {
    overflow: hidden;
    text-align: center;
  }
  &__image {
    max-height: 300px;
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel-type5 {
    $this: &;
    &__wrap {
      align-items: flex-start;
      column-gap: 24px;
      flex-direction: row-reverse;
      padding-bottom: 32px;
      padding-top: 32px;
    }
    &__content {
      flex: 1 1 auto;
    }
    &__media {
      flex: 0 0 32%;
    }
    &__title {
      font-size: func.px-to-rem(20);
    }
    &__subTitle {
      font-size: func.px-to-rem(16);
    }
    &__image {
      aspect-ratio: 4/3;
      height: 100%;
      max-height: none;
      object-fit: scale-down;
      object-position: center;
      width: 100%;
    }
  }
}
