@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel-type3
// -----------------------------------------------------------------------------
.m-panel-type3 {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 16px;
  &__item {
    background-color: var.$BACKGROUND_COLOR;
    border: 1px solid #b5bbd1;
  }
  &__wrap {
    color: var.$COLOR;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 16px 16px 32px;
    position: relative;
    row-gap: 16px;
    text-decoration: none;
    &::before,
    .m-link-icon--download {
      content: '';
      inset: auto 0 0 auto;
      margin: auto;
      position: absolute;
    }
    &::before {
      border: 1px solid var.$PRIMARY_COLOR;
      border-radius: 50%;
      bottom: 7px;
      height: 24px;
      right: 16px;
      transition: background-color .3s;
      width: 24px;
    }
    // アイコンを追加
    .m-link-icon--download {
      bottom: 13px;
      height: 14px;
      right: 21px;
      transition: stroke .3s;
      width: 14px;
    }
    &:hover,
    &:focus {
      &::before {
        background-color: var.$PRIMARY_COLOR;
      }
      #{$this}__title {
        text-decoration: underline;
      }
      #{$this}__image {
        opacity: .7;
      }
      // アイコンを追加
      .m-link-icon--download {
        stroke: var.$COLOR_CHIP_WHITE;
      }
    }
  }
  &__content {
    @extend %reset-margin;
    flex: 1 1 100%;
    > * {
      margin-bottom: 8px;
    }
  }
  &__title {
    line-height: 1.6;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-size: func.px-to-rem(14);
  }
  &__media {
    align-self: center;
    overflow: hidden;
    text-align: center;
  }
  &__image {
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel-type3 {
    $this: &;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    &__wrap {
      column-gap: 24px;
      flex-direction: row-reverse;
      height: 100%;
      padding: 24px 24px 32px 24px;
      row-gap: normal;
    }
    &__media {
      align-self: flex-start;
      max-height: 170px;
      max-width: 120px;
    }
    &__image {
      aspect-ratio: 12 / 17;
      height: 100%;
      object-fit: scale-down;
      object-position: center;
      width: 100%;
    }
  }
}
