@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-panel-type6
// -----------------------------------------------------------------------------
.m-panel-type6 {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  gap: 16px 0;
  grid-template-columns: 1fr;
  &__item {
    height: 100%;
  }
  &__wrap {
    border-radius: 0 60px 0 60px;
    display: flex;
    flex-direction: column-reverse;
    &:any-link {
      color: var.$COLOR;
      position: relative;
      text-decoration: none;
      &::before,
      &::after {
        content: '';
        position: absolute;
        transition: background-color 0.2s ease-in, background-image 0.2s ease-in,
          right 0.2s ease-in;
      }
      // 水色丸
      &::before {
        background-color: var.$BACKGROUND_COLOR_2;
        border-radius: 50%;
        bottom: 16px;
        height: 40px;
        right: 16px;
        width: 40px;
      }
      // 矢印アイコン
      &::after {
        background-repeat: no-repeat;
        bottom: 30px;
        height: 14px;
        right: 30px;
        width: 14px;
        @include mixin.svg(
          $data:
            '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
          $fill: var.$PRIMARY_COLOR
        );
      }
      &:hover,
      &:focus {
        // 水色丸
        &::before {
          background-color: var.$PRIMARY_COLOR;
        }
        // 矢印アイコン
        &::after {
          @include mixin.svg(
            $data:
              '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$COLOR_CHIP_WHITE
          );
          right: 28px;
        }
        #{$this}__title {
          text-decoration: underline;
        }
        #{$this}__image {
          opacity: .7;
        }
      }
    }
  }
  &__inner {
    background-color: var.$BACKGROUND_COLOR_4;
    border-bottom-left-radius: 60px;
    padding: 16px 24px 64px;
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    display: inline-block;
    font-size: func.px-to-rem(20);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  &__text {
    color: var.$COLOR_CHIP_16;
    font-size: func.px-to-rem(14);
  }
  &__media {
    border: 2px solid var.$COLOR_CHIP_7;
    border-top-right-radius: 60px;
    overflow: hidden;
  }
  &__image {
    aspect-ratio: 109/60;
    height: 180px;
    object-fit: scale-down;
    object-position: center;
    padding: 20px;
    transition: opacity .3s ease-out;
    vertical-align: middle;
    width: 100%;
    &--cover {
      object-fit: cover;
      padding: 0;
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-panel-type6 {
    $this: &;
    gap: 32px func.calc-percentage(32, 1000);
    grid-template-columns: repeat(2, 1fr);
    &__wrap {
      flex-direction: row-reverse;
      height: 100%;
      &:any-link {
        // 水色丸
        &::before {
          height: 42px;
          width: 42px;
        }
        // 矢印アイコン
        &::after {
          bottom: 32px;
        }
      }
    }
    &__inner {
      border-bottom-left-radius: 0;
      border-top-right-radius: 40px;
      flex: 1 1 auto;
      padding-bottom: 66px;
      padding-top: 24px;
    }
    &__title {
      font-size: func.px-to-rem(24);
    }
    &__media {
      border-bottom-left-radius: 60px;
      border-top-right-radius: 0;
      flex: 0 0 200px;
      max-width: 200px;
    }
    &__image {
      aspect-ratio: 8/7;
      height: 100%;
    }
  }
}
