@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// .un-top-mind
// -----------------------------------------------------------------------------
.un-top-mind {
  $this: &;
  @extend %reset-margin;
  background-color: var.$BACKGROUND_COLOR;
  border-radius: 100px 0 100px 0;
  padding: 38px 15px 22px 10px;
}

// Wide Viewport
@include mixin.media-query {
  .un-top-mind {
    $this: &;
    margin: auto;
    max-width: 596px;
    padding: 56px 70px 40px;

    .m-link-arrow {
      margin-bottom: 22px;
    }
  }
}
