@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// .un-top-mindHeading
// -----------------------------------------------------------------------------
.un-top-mindHeading {
  $this: &;
  color: var.$PRIMARY_COLOR;
  font-family: var.$FONT_FAMILY_SANS_ENG;
  font-size: func.px-to-rem(24);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
  text-align: center;
  &__supplement {
    color: var.$COLOR_CHIP_16;
    display: block;
    font-size: func.px-to-rem(16);
    margin-top: 3px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-top-mindHeading {
    $this: &;
    font-size: func.px-to-rem(32);
    margin-bottom: 28px;
    &__supplement {
      font-size: func.px-to-rem(18);
      margin-top: 8px;
    }
  }
}
