@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-heading-level6
// -----------------------------------------------------------------------------
.m-heading-level6 {
  $this: &;

  margin: 32px 0 8px;

  &__text {
    line-height: 1.4;
  }
  .m-heading-level5 + & {
    margin-top: 12px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-heading-level6 {
    $this: &;

    margin: 40px 0 8px;
  }
}
