@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-heading-level5
// -----------------------------------------------------------------------------
.m-heading-level5 {
  $this: &;

  margin: 32px 0 10px;
  position: relative;

  &__text {
    line-height: 1.4;
    padding-left: 8px;
  }

  &::before {
    background-color: var.$SECONDARY_COLOR;
    border-radius: 0 4px 0 4px;
    bottom: 0;
    content: '';
    display: block;
    height: calc(100% - 6px);
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 3px;
  }
  .m-heading-level4 + & {
    margin-top: 0;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-heading-level5 {
    $this: &;
    margin: 40px 0 10px;

    &__text {
      padding-left: 12px;
    }
  }
}
