@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// .un-top-panel
// -----------------------------------------------------------------------------
.un-top-panel {
  $this: &;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin-bottom: 24px;
  margin-left: -20px;
  margin-right: -20px;
  &__item {
    background-color: var.$BACKGROUND_COLOR;
    border-radius: 80px 0 80px 0;
    padding: 40px 20px 34px;
    &:nth-of-type(even) {
      background-color: transparent;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  &__wrap {
    &:any-link {
      color: var.$COLOR;
      text-decoration: none;
      &:hover,
      &:focus {
        #{$this}__img {
          opacity: .7;
        }
        #{$this}__heading {
          text-decoration: underline;
        }
        // .m-link-arrow hoverステート
        .m-link-arrow__text {
          &::before,
          &::after {
            transition: background-color 0.2s ease-in,
              background-image 0.2s ease-in, right 0.2s ease-in;
          }
          text-decoration: underline;
          // 水色丸
          &::before {
            background-color: var.$PRIMARY_COLOR;
          }
          // 矢印アイコン
          &::after {
            @include mixin.svg(
              $data:
                '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
              $fill: var.$COLOR_CHIP_WHITE
            );
            right: 8px;
          }
        }
      }
    }
  }
  &__heading {
    color: var.$COLOR_CHIP;
    font-size: func.px-to-rem(28);
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 4px;
    position: relative;
    text-align: center;
  }
  &__text {
    color: var.$COLOR;
    font-size: func.px-to-rem(15);
    margin-bottom: 15px;
    text-align: center;
  }
  &__imgContainer {
    aspect-ratio: 412 / 291;
    border-radius: 80px 0 80px 0;
    object-fit: cover;
    overflow: hidden;
    z-index: var.$Z_INDEX_LAYER;
  }
  &__img {
    transition: opacity .3s ease-out;
    vertical-align: middle;
  }
  .m-link-arrow {
    margin-bottom: 16px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-top-panel {
    $this: &;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
    &__item {
      border-radius: 0 120px 0 120px;
      padding: 0 32px 32px;
      &:nth-of-type(even) {
        background-color: var.$BACKGROUND_COLOR;
        padding-bottom: 32px;
      }
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      height: 100%;
      &:any-link {
        color: var.$COLOR;
        text-decoration: none;
        &:hover,
        &:focus {
          // .m-link-arrow hoverステート
          .m-link-arrow__text {
            // 矢印アイコン
            &::after {
              right: 14px;
            }
          }
        }
      }
    }
    &__heading {
      font-size: func.px-to-rem(30);
      margin-bottom: 8px;
      margin-top: 32px;
    }
    &__text {
      font-size: func.px-to-rem(18);
      margin-bottom: 32px;
    }
    &__imgContainer {
      border-radius: 0 120px 0 0;
      margin: 0 -32px;
      order: -1;
      width: calc(100% + 64px);
    }
    .m-link-arrow {
      margin-bottom: 0;
      margin-top: auto;
    }
  }
}
