@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// .un-top-panel-type2
// -----------------------------------------------------------------------------
.un-top-panel-type2 {
  $this: &;
  display: flex;
  flex-direction: column;
  &__item {
    padding-top: 30px;
    & + & {
      border-top: 1px solid #d4d4d4;
      margin-top: 30px;
    }
  }
  &__wrap {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &:any-link {
      &:hover,
      &:focus {
        #{$this}__img {
          transform: scale(1.1);
        }
        // .m-link-arrow hoverステート
        .m-link-arrow__text {
          &::before,
          &::after {
            transition: background-color 0.2s ease-in,
              background-image 0.2s ease-in, right 0.2s ease-in;
          }
          text-decoration: underline;
          // 水色丸
          &::before {
            background-color: var.$PRIMARY_COLOR;
          }
          // 矢印アイコン
          &::after {
            @include mixin.svg(
              $data:
                '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
              $fill: var.$COLOR_CHIP_WHITE
            );
            right: 14px;
          }
        }
      }
    }
    .m-link-arrow {
      flex: 1 0 57%;
      margin-bottom: 0;
    }
  }
  &__imgContainer {
    vertical-align: middle;
  }
  &__img {
    transition: transform 0.3s ease-out;
    vertical-align: middle;
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-top-panel-type2 {
    $this: &;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 20px;
    &__item {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 0;
      & + & {
        border-left: 1px solid #d4d4d4;
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
    }
    &__wrap {
      flex-direction: column-reverse;
      gap: 42px 0;
      height: 100%;
      justify-content: center;
      width: 100%;
      .m-link-arrow {
        flex: 0 1 auto;
      }
    }
  }
}
