@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// Sections
// -----------------------------------------------
body {
  @include mixin.media-query(
    $range: below,
    $breakpoint: var.$MINOR_BREAKPOINT
  ) {
    // border
    &::before {
      background-color: var.$PRIMARY_COLOR;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 10px;
      z-index: var.$Z_INDEX_HEADER;
    }
  }
}
