@use '../_common/variable' as var;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

// お問い合わせエリア（ガワ）
// .l-content 直下
// -----------------------------------------------------------------------------
// .l-contact
// -----------------------------------------------
.l-contact {
  $this: &;
  @extend %structure-outer;
  background-color: var.$BACKGROUND_COLOR_6;
  background-image: url('/assets/images/cmn-bg-contact.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 32px 0 48px;
  &__inner {
    @extend %structure-inner;
    @extend %reset-margin;
  }
  &__heading {
    font-size: func.px-to-rem(24);
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: center;
  }
}

// Wide Viewport
@include mixin.media-query {
  .l-contact {
    $this: &;
    background-image: url('/assets/images/cmn-bg-contact-wide.png');
    background-size: auto 100%;
    padding-top: 40px;
    &__heading {
      font-size: func.px-to-rem(32);
    }
  }
}
