@use '../_common/variable' as var;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

// メインコンテンツ
// -----------------------------------------------------------------------------
// .l-localNav
// -----------------------------------------------
.l-localNav {
  $this: &;
  @extend %structure-outer;
  background-color: transparent;
  display: none;
  position: fixed;
  top: 46px;
  width: 100%;
  z-index: var.$Z_INDEX_FIXEDLINK;
  @include mixin.off-js {
    position: static;
  }
  // SP時ローカルナビの挙動（.js-localNavとの併用前提）
  &--narrow {
    display: grid;
    #{$this}__listOuter {
      background-color: rgba(var.$COLOR_CHIP_BLACK, .2);
      overflow-y: auto;
      transition: height .3s ease-in;
    }
  }
  &.js-localNav--opened {
    #{$this}__buttonText {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
  &__inner {
    grid-column: 1/4;
    position: relative;
  }
  &__button {
    background-color: #d7e8ff;
    border-top: 1px solid var.$BACKGROUND_COLOR;
    padding: 16px 45px 16px 22px;
    position: relative;
    text-align: left;
    width: 100%;
    // 青丸
    &::before {
      background-color: var.$PRIMARY_COLOR;
      border-radius: 50%;
      bottom: 0;
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 16px;
      top: 0;
      width: 16px;
    }
  }
  &__buttonText {
    font-size: func.px-to-rem(16);
    font-weight: bold;
    // プラスマイナス
    &::before,
    &::after {
      background-color: var.$BACKGROUND_COLOR;
      border-radius: 1px;
      bottom: 0;
      content: '';
      height: 2px;
      margin: auto 0;
      position: absolute;
      right: 19px;
      top: 0;
      width: 10px;
    }
    &::after {
      transform: rotate(90deg);
      transition: transform .3s ease-in;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__link {
    background-color: #d7e8ff;
    border-top: 1px solid #d4d4d4;
    color: var.$COLOR;
    display: block;
    font-size: func.px-to-rem(14);
    font-weight: bold;
    padding: 20px 38px 20px 22px;
    position: relative;
    text-decoration: none;
    transition: background-color .3s ease-in;
    &::after {
      bottom: 0;
      content: '';
      height: 13px;
      margin: auto 0;
      position: absolute;
      right: 20px;
      top: 0;
      transition: background-image .3s ease-in;
      width: 13px;
    }
    &:focus,
    &:hover {
      background-color: var.$PRIMARY_COLOR;
      color: var.$BACKGROUND_COLOR;
    }
    &:any-link {
      // 矢印 ページ内リンク
      &::after {
        @include mixin.svg(
          $data: '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
          $fill: var.$PRIMARY_COLOR
        );
      }
      &:focus,
      &:hover {
        &::after {
          @include mixin.svg(
            $data: '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$BACKGROUND_COLOR
          );
        }
      }
    }
    // アンカーリンク
    &[href^="#"] {
      &::after {
        @include mixin.svg(
          $data:
            '<path d="M97.2,22.3C97.1,22.2,97,22.1,97,22c-3.7-3.6-9.6-3.4-13.2,0.3L50,57.1L16.2,22.3c-0.1-0.1-0.2-0.2-0.3-0.3c-3.7-3.6-9.6-3.4-13.2,0.3c-3.7,3.9-3.7,10,0,13.9l40.4,41.6c0.1,0.1,0.2,0.2,0.3,0.3c1.9,1.8,4.3,2.6,6.7,2.6c2.4,0,4.8-1,6.6-2.8l40.4-41.6C100.9,32.3,100.9,26.2,97.2,22.3z"/>',
          $fill: var.$PRIMARY_COLOR
        );
      }
      &:focus,
      &:hover {
        &::after {
          @include mixin.svg(
            $data:
              '<path d="M97.2,22.3C97.1,22.2,97,22.1,97,22c-3.7-3.6-9.6-3.4-13.2,0.3L50,57.1L16.2,22.3c-0.1-0.1-0.2-0.2-0.3-0.3c-3.7-3.6-9.6-3.4-13.2,0.3c-3.7,3.9-3.7,10,0,13.9l40.4,41.6c0.1,0.1,0.2,0.2,0.3,0.3c1.9,1.8,4.3,2.6,6.7,2.6c2.4,0,4.8-1,6.6-2.8l40.4-41.6C100.9,32.3,100.9,26.2,97.2,22.3z"/>',
            $fill: var.$BACKGROUND_COLOR
          );
        }
      }
    }
  }
  // h1分の余白打消し
  .l-heading-level1 + & {
    margin-top: -32px;
  }
  & + .l-content__outer {
    margin-top: -64px;
  }
}

// Wide Viewport
@include mixin.media-query($breakpoint: var.$MINOR_BREAKPOINT) {
  .l-localNav {
    $this: &;
    display: grid;
    position: sticky;
    top: 0;
    &--narrow {
      display: none;
    }
    &__inner {
      grid-column: 2/3;
    }
    // h1分の余白打消し
    .l-heading-level1 + & {
      margin-top: -48px;
    }
    &__button {
      display: none;
    }
    &__list {
      flex-direction: row;
    }
    &__link {
      border: 1px solid var.$COLOR_CHIP_WHITE;
      font-size: func.px-to-rem(16);
      font-weight: normal;
      letter-spacing: .05em;
      padding: 16px 34px 16px 16px;
      &::after {
        right: 16px;
      }
    }
    & + .l-content__outer {
      margin-top: -32px;
    }
  }
}
