@use '../_common/variable' as var;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

$HOVER_COLOR: #5570c3;

// メインコンテンツ
// -----------------------------------------------------------------------------
// .l-content
// -----------------------------------------------
.l-message {
  $this: &;

  @extend %structure;
  grid-area: message;

  &__outer {
    @extend %structure-outer;
    @extend %reset-margin;
    background-color: var.$BACKGROUND_COLOR;
    border-bottom: solid 1px var.$PRIMARY_COLOR;
  }

  &__inner {
    @extend %structure-inner;
    @extend %reset-margin;
  }
}

// Wide Viewport
@include mixin.media-query {
  .l-content {
    $this: &;
  }
}
