@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// -----------------------------------------------------------------------------
// Variable
// -----------------------------------------------
// コンテンツエリア(.l-content__outer)左右の余白（gap）
$_CONTENT_INNER_GUTTER_X_NARROW_MAIN: 20px; // ブレークポイント未満
$_CONTENT_INNER_GUTTER_X_NARROW_MAIN_2: 40px; // ブレークポイント未満

// ボーダー幅
$_CONTENT_BORDER_NARROW: 10px; // ブレークポイント未満

// コンテンツエリア(.l-content__outer)同士の余白（margin）
$_CONTENT_INNER_GUTTER_Y_NARROW_MAIN: 48px; // ブレークポイント未満
$_CONTENT_INNER_GUTTER_Y_NARROW_MAIN_2: 60px; // ブレークポイント未満
$_CONTENT_INNER_GUTTER_Y_MAIN_NO: 0; // ブレークポイント未満・以上
$_CONTENT_INNER_GUTTER_Y_WIDE_MAIN: 80px; // ブレークポイント以上

// 最大ビューポート幅
$_CONTENT_WIDTH_WIDE_MAIN: 1428px;
// 最小ビューポート幅
$_CONTENT_WIDTH_NARROW_MAIN: 375px -
  ($_CONTENT_INNER_GUTTER_X_NARROW_MAIN * 2 + $_CONTENT_BORDER_NARROW);
$_CONTENT_WIDTH_NARROW_MAIN_2: 375px -
  ($_CONTENT_INNER_GUTTER_X_NARROW_MAIN_2 * 2 + $_CONTENT_BORDER_NARROW);

// -----------------------------------------------------------------------------
// .l-content
// -----------------------------------------------
.l-content {
  $this: &;
  grid-template-columns:
    1fr minmax($_CONTENT_WIDTH_NARROW_MAIN, $_CONTENT_WIDTH_WIDE_MAIN)
    1fr;
  &__outer {
    gap: 0
      func.calc-size(
        $_CONTENT_INNER_GUTTER_X_NARROW_MAIN,
        var.$CONTENT_INNER_GUTTER_X_WIDE
      );
    grid-template-columns:
      1fr minmax($_CONTENT_WIDTH_NARROW_MAIN, $_CONTENT_WIDTH_WIDE_MAIN)
      1fr;
    margin-bottom: $_CONTENT_INNER_GUTTER_Y_NARROW_MAIN;
    margin-left: $_CONTENT_BORDER_NARROW;
    padding-bottom: 0;
    padding-top: 0;

    &--importantNews {
      margin-bottom: 38px;
      #{$this}__inner {
        background-color: var.$BACKGROUND_COLOR_8;
        border-radius: 55px 0 0 0;
        grid-column: 2/4;
        margin-top: 24px;
        padding-right: func.calc-size(var.$CONTENT_INNER_GUTTER_X_NARROW, 64px);
      }
    }

    &--company {
      background-color: var.$BACKGROUND_COLOR_4;
      margin-bottom: $_CONTENT_INNER_GUTTER_Y_NARROW_MAIN_2;
      overflow: hidden;
      padding-bottom: 72px;
      padding-top: 32px;
      position: relative;
      // 角の背景画像
      &::before,
      &::after {
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        position: absolute;
      }
      &::before {
        background-image: url('/assets/images/bg-top-company-topRight.png');
        height: 222px;
        right: 0;
        top: 0;
        width: 170px;
      }
      &::after {
        background-image: url('/assets/images/bg-top-company-bottomLeft.png');
        bottom: 0;
        height: 73px;
        left: 0;
        width: 201px;
      }

      #{$this}__inner {
        z-index: var.$Z_INDEX_LAYER;
      }
    }

    &--backgroundColor {
      gap: 0
        func.calc-size(
          $_CONTENT_INNER_GUTTER_X_NARROW_MAIN_2,
          var.$CONTENT_INNER_GUTTER_X_WIDE
        );
      grid-template-columns:
        1fr minmax($_CONTENT_WIDTH_NARROW_MAIN_2, $_CONTENT_WIDTH_WIDE_MAIN)
        1fr;
      padding-bottom: 32px;
      padding-top: 32px;
    }

    &--column {
      margin-top: 24px; // .un-top-backgroundHead の背景画像分
    }

    &--mind {
      background-image: url('/assets/images/bg-top-mind.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 30px;
      padding-bottom: 50px;
      padding-top: 50px;
    }

    &--noGap {
      margin-bottom: $_CONTENT_INNER_GUTTER_Y_MAIN_NO;
    }
  }

  &__inner {
    &--backgroundColor-type2 {
      background-color: var.$BACKGROUND_COLOR_6;
      margin-left: -20px;
      margin-right: -20px;
      padding: 60px 16px 48px;

      .m-widget-carousel {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
  }

  .un-l-mvCarousel {
    margin-bottom: 24px;
  }
}

// Wide Viewport
@include mixin.media-query {
  .l-content {
    $this: &;
    &__outer {
      margin-bottom: $_CONTENT_INNER_GUTTER_Y_WIDE_MAIN;

      &--importantNews {
        margin-bottom: 56px;
      }

      &--company {
        padding-bottom: 128px;
        padding-top: 86px;
        &::before {
          background-image: url('/assets/images/bg-top-company-topRight-wide.png');
          background-position: top right;
          height: 786px;
          width: 720px;
        }
        &::after {
          background-image: url('/assets/images/bg-top-company-bottomLeft-wide.png');
          background-position: bottom left;
          height: 359px;
          width: 504px;
        }
      }

      &--noGap,
      &--noGap-wide {
        margin-bottom: $_CONTENT_INNER_GUTTER_Y_MAIN_NO;
      }

      &--column {
        margin-top: -16px;
      }

      &--mind {
        background-image: url('/assets/images/bg-top-mind-wide.png');
        padding-bottom: 104px;
        padding-top: 104px;
      }
    }

    &__inner {
      &--backgroundColor-type2 {
        margin-left: 0;
        margin-right: 0;

        .m-widget-carousel {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .un-l-mvCarousel {
      margin-bottom: 48px;

      & + .l-content__outer--importantNews {
        margin-top: -16px;
      }
    }
  }
}

// Wide Viewport
@include mixin.media-query($range: below) {
  .l-content {
    $this: &;
    &__outer {
      &--bigGap-narrow {
        margin-bottom: $_CONTENT_INNER_GUTTER_Y_NARROW_MAIN_2;
      }
      &--noGap,
      &--noGap-narrow {
        margin-bottom: $_CONTENT_INNER_GUTTER_Y_MAIN_NO;
      }
    }
  }
}

// between Viewport
@include mixin.media-query(
  $range: between,
  $breakpoint-min: 460px,
  $breakpoint-max: var.$MAJOR_BREAKPOINT - 1px
) {
  .l-content {
    &__outer {
      &--company {
        &::before {
          top: -10px;
        }
      }
    }
  }
}
