@use 'sass:math';
@use '../../../_common/variable' as var;
@use '../../../_common/mixin/' as mixin;
@use '../../../_common/extend/' as *;
@use '../../../_common/function/' as func;

// フッター
// -----------------------------------------------------------------------------
// .l-footer
// -----------------------------------------------
.l-footer {
  $this: &;

  // navigation
  &__navigationList {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  &__navigationListItem {
    $index: 1;
    @for $i from 4 through 1 {
      &:nth-last-child(#{$i}) {
        grid-area: auto;
      }
      $index: $index + 1;
    }
  }
}

// // Wide Viewport
// @include mixin.media-query {
//   .l-footer {
//     $this: &;
//   }
// }

@include mixin.media-query($breakpoint: var.$MINOR_BREAKPOINT_2) {
  .l-footer {
    $this: &;

    // navigation
    &__navigationListItem {
      grid-area: auto;

      $index: 1;
      @for $i from 3 through 1 {
        &:nth-last-child(#{$i}) {
          grid-area: auto;
        }
        $index: $index + 1;
      }
    }
  }
}
