@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-link-listCategory
// -----------------------------------------------------------------------------
.m-link-listCategory {
  $this: &;
  @extend %module-margin-large;
  display: grid;
  gap: 20px 24px;
  grid-template-columns: repeat(2, 1fr);
  &__text {
    font-size: func.px-to-rem(13);
    line-height: 1.6;
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-link-listCategory {
    $this: &;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 40px;
    &__text {
      font-size: func.px-to-rem(16);
    }
  }
}
