@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-text-newLabel
// -----------------------------------------------------------------------------
.m-text-newLabel {
  $this: &;
  color: var.$COLOR_CHIP_15;
  display: inline-block;
  font-size: func.px-to-rem(12);
  font-weight: bold;
  margin: 0 6px;
  vertical-align: middle;
}

// Wide Viewport
@include mixin.media-query {
  .m-text-newLabel {
    $this: &;
    font-size: func.px-to-rem(14);
  }
}
