@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-text-labelList
// -----------------------------------------------------------------------------
.m-text-labelList {
  $this: &;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}

// Wide Viewport
// @include mixin.media-query {
//   .m-text-labelList {
//     $this: &;
//   }
// }
