@use '../_common/variable' as var;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

// .un-heading-level2
// -----------------------------------------------------------------------------
.un-heading-level2 {
  $this: &;
  margin-bottom: 30px;
  &__text {
    font-family: var.$FONT_FAMILY_SANS_ENG;
    font-size: func.px-to-rem(40);
    font-weight: bold;
    line-height: 1.2;
  }
  &__textColor {
    color: var.$PRIMARY_COLOR;
  }
}

// Wide Viewport
@include mixin.media-query {
  .un-heading-level2 {
    $this: &;
    margin-bottom: 32px;
    &__text {
      font-size: func.px-to-rem(59);
    }
  }
}
