@use "sass:map";
@use '../_common/variable' as var;
@use '../_common/mixin/' as mixin;
@use '../_common/extend/' as *;
@use '../_common/function/' as func;

// カルーセルMV（ガワ、ページ固有）
// .l-content 直下
// -----------------------------------------------------------------------------
// .un-un-l-mvCarousel
// -----------------------------------------------------------------------------
$background: (
  "dark": (
    "darkColor": #235f66,
    "darkColor-type2": #70359a,
    "darkColor-type3": #555
  ),
  "light": (
    "lightColor": var.$SECONDARY_COLOR,
    "lightColor-type2": #4dc5ac,
    "lightColor-type3": var.$SECONDARY_COLOR_2,
    "lightColor-type4": var.$SECONDARY_COLOR_3
  )
);
.un-l-mvCarousel {
  $this: &;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
  overflow: hidden;
  &__list {
    display: flex;
    &.js-carouselMv__wrapper {
      @include mixin.on-js {
        gap: 0 !important;
      }
      @include mixin.off-js {
        flex-direction: column;
      }
    }
  }
  &__item {
    background-color: var.$PRIMARY_COLOR;
    border-radius: 0 0 80px 0;
    border-bottom-right-radius: 80px; // iosでルートの指定が効いてない対策
    flex-shrink: 0;
    width: 100%;
    //　デフォルト背景のアイコンの色を変更
    .m-link-icon {
      fill: var.$COLOR_CHIP_WHITE;
      stroke: var.$COLOR_CHIP_WHITE;
    }
    @each $name, $itemColor in $background {
      @each $_name, $_itemColor in $itemColor {
        &--#{$_name} {
          background-color: $_itemColor;
        }
      }
      // 背景色によってアイコンの色を変更
      @if $name == "light" {
        @each $_name, $_itemColor in $itemColor {
          &--#{$_name} {
            .m-link-icon {
              fill: var.$COLOR;
              stroke: var.$COLOR;
            }
          }
        }
      }
    }
  }
  &__wrap {
    color: var.$COLOR_CHIP_WHITE;
    display: flex;
    flex-direction: column;
    transition: color ease-in .2s;
    &:any-link {
      color: var.$COLOR_CHIP_WHITE;
      text-decoration: none;
      &:hover,
      &:focus {
        #{$this}__textLink {
          text-decoration: underline;
          &::before {
            left: 3px;
          }
        }
      }
    }
    @each $name, $itemColor in map.get($background, "light") {
      #{$this}__item--#{$name} & {
        color: var.$COLOR;
        &:any-link {
          color: var.$COLOR;
        }
      }
    }
  }
  &__container {
    padding: 26px func.calc-size(35px, 64px) 88px;
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    display: block;
    font-size: func.px-to-rem(20);
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__text {
    font-size: func.px-to-rem(15);
    line-height: 2;
    margin-bottom: 16px;
  }
  &__textLink {
    display: block;
    font-size: func.px-to-rem(15);
    max-inline-size: max-content;
    padding-left: 24px;
    position: relative;
    text-align: right;
    text-decoration: none;
    // 矢印アイコン
    &::before {
      @include mixin.svg(
        $data: '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
        $fill: var.$COLOR_CHIP_WHITE
      );
      @each $name, $itemColor in map.get($background, "light") {
        #{$this}__item--#{$name} & {
          @include mixin.svg(
            $data: '<path d="M91.8,74.4H8.2c-4.6,0-8.2-3.7-8.2-8.2c0-4.5,3.7-8.2,8.2-8.2H77L64.8,38.2c-2.4-3.9-1.2-8.9,2.7-11.3c3.9-2.4,9-1.2,11.3,2.7l19.9,32.3c1.6,2.5,1.6,5.7,0.2,8.3C97.5,72.8,94.7,74.4,91.8,74.4z"/>',
            $fill: var.$COLOR
          );
        }
      }
      background-repeat: no-repeat;
      content: '';
      flex-shrink: 0;
      height: 14px;
      left: 0;
      position: absolute;
      top: 6px;
      transition: left ease-in .2s, background-image ease-in .2s;
      width: 14px;
    }
  }
  &__img {
    order: -1;
  }
  &__control {
    align-items: flex-end;
    color: var.$COLOR_CHIP_WHITE;
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-top: -88px;
    max-width: max-content;
    padding: func.calc-size(24px, 38px) func.calc-size(35px, 64px) 26px;
    transition: color .2s ease-in;
    z-index: var.$Z_INDEX_LAYER;
    @each $name, $itemColor in map.get($background, "light") {
      #{$this}--#{$name} & {
        color: var.$COLOR;
      }
    }
  }
  &__counter {
    align-items: baseline;
    display: inline-flex;
    font-family: var.$FONT_FAMILY_SANS_ENG;
    font-size: func.px-to-rem(14);
    gap: 0.5em;
  }
  &__counterNumber {
    &--current {
      font-size: func.px-to-rem(16);
    }
  }
  &__nav {
    display: flex;
    gap: 8px;
  }
  &__navButton {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    border: 1px solid var.$COLOR_CHIP_WHITE;
    border-radius: 50%;
    font-size: 0;
    height: 38px;
    transition: background-image .2s ease-in, background-color .2s ease-in, border-color .2s ease-in;
    width: 38px;
    @each $name, $itemColor in map.get($background, "light") {
      #{$this}--#{$name} & {
        border-color: var.$COLOR;
      }
    }
    &:hover,
    &:focus {
      background-color: var.$COLOR_CHIP_WHITE;
    }
    &:disabled {
      background-color: transparent;
      border-color: var.$BORDER_COLOR_2;
    }
    &--prev {
      // icon-arrowLeft2.svg
      @include mixin.svg(
        $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
        $fill: var.$COLOR_CHIP_WHITE
      );
      @each $name, $itemColor in map.get($background, "light") {
        #{$this}--#{$name} & {
          @include mixin.svg(
            $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
            $fill: var.$COLOR
          );
        }
      }
      &:hover,
      &:focus {
        @include mixin.svg(
          $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
          $fill: var.$PRIMARY_COLOR
        );
        @each $name, $itemColor in $background {
          @each $_name, $_itemColor in $itemColor {
            #{$this}--#{$_name} & {
              @include mixin.svg(
                $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
                $fill: $_itemColor
              );
            }
          }
        }
        @each $name, $itemColor in map.get($background, "light") {
          #{$this}--#{$name} & {
            @include mixin.svg(
              $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
              $fill: var.$COLOR
            );
          }
        }
      }
      &:disabled {
        @include mixin.svg(
          $data: '<path d="M74.82 25l-31.07 25 31.06 25c6.9 4.93 8.5 14.53 3.57 21.43-.98 1.38-2.19 2.58-3.57 3.57l-46.58-37.5-5.19-4.16c-4.6-3.29-5.67-9.68-2.39-14.29.66-.92 1.46-1.73 2.39-2.39l5.18-4.16 46.6-37.5c6.9 4.93 8.5 14.53 3.57 21.43-.99 1.38-2.19 2.59-3.57 3.57z"/>',
          $fill: var.$BORDER_COLOR_2
        );
      }
    }
    &--next {
      // icon-arrowRight2.svg
      @include mixin.svg(
        $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
        $fill: var.$COLOR_CHIP_WHITE
      );
      @each $name, $itemColor in map.get($background, "light") {
        #{$this}--#{$name} & {
          @include mixin.svg(
            $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
            $fill: var.$COLOR
          );
        }
      }
      &:hover,
      &:focus {
        @include mixin.svg(
          $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
          $fill: var.$PRIMARY_COLOR
        );
        @each $name, $itemColor in $background {
          @each $_name, $_itemColor in $itemColor {
            #{$this}--#{$_name} & {
              @include mixin.svg(
                $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
                $fill: $_itemColor
              );
            }
          }
        }
        @each $name, $itemColor in map.get($background, "light") {
          #{$this}--#{$name} & {
            @include mixin.svg(
              $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
              $fill: var.$COLOR
            );
          }
        }
      }
      &:disabled {
        @include mixin.svg(
          $data: '<path d="M76.96 41.66l-5.17-4.17-.02.01-46.57-37.5c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l31.05 24.99-31.06 25c-1.38.99-2.59 2.19-3.58 3.58-4.93 6.9-3.33 16.5 3.58 21.43l46.59-37.5h.01l5.17-4.15c.92-.66 1.72-1.46 2.38-2.38.82-1.15 1.37-2.42 1.66-3.72.88-3.91-.58-8.13-4.04-10.6z"/>',
          $fill: var.$BORDER_COLOR_2
        );
      }
    }
    &--play {
      // icon-pause.svg
      @include mixin.svg(
        $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
        $fill: var.$COLOR_CHIP_WHITE
      );
      @each $name, $itemColor in map.get($background, "light") {
        #{$this}--#{$name} & {
          @include mixin.svg(
            $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
            $fill: var.$COLOR
          );
        }
      }
      &:hover,
      &:focus {
        @include mixin.svg(
          $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
          $fill: var.$PRIMARY_COLOR
        );
        @each $name, $itemColor in $background {
          @each $_name, $_itemColor in $itemColor {
            #{$this}--#{$_name} & {
              @include mixin.svg(
                $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
                $fill: $_itemColor
              );
            }
          }
        }
        @each $name, $itemColor in map.get($background, "light") {
          #{$this}--#{$name} & {
            @include mixin.svg(
              $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
              $fill: var.$COLOR
            );
          }
        }
      }
      &:disabled {
        @include mixin.svg(
          $data: '<path d="M15.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/><path d="M85.15.07c8.28 0 15 6.72 15 15v70c0 8.28-6.72 15-15 15-8.28 0-15-6.72-15-15v-70c0-8.29 6.71-15 15-15z"/>',
          $fill: var.$BORDER_COLOR_2
        );
      }

      &.js-carouselMv--stop {
        transform: rotate(90deg);
        @include mixin.svg(
          $data: '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
          $fill: var.$COLOR_CHIP_WHITE
        );
        @each $name, $itemColor in map.get($background, "light") {
          #{$this}--#{$name} & {
            @include mixin.svg(
              $data: '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
              $fill: var.$COLOR
            );
          }
        }
        &:hover,
        &:focus {
          @include mixin.svg(
            $data: '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
            $fill: var.$PRIMARY_COLOR
          );
          @each $name, $itemColor in $background {
            @each $_name, $_itemColor in $itemColor {
              #{$this}--#{$_name} & {
                @include mixin.svg(
                  $data: '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
                  $fill: $_itemColor
                );
              }
            }
          }
          @each $name, $itemColor in map.get($background, "light") {
            #{$this}--#{$name} & {
              @include mixin.svg(
                $data: '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
                $fill: var.$COLOR
              );
            }
          }
        }
        &:disabled {
          @include mixin.svg(
            $data:
              '<path d="M49.136,1.481a1,1,0,0,1,1.728,0L99.123,84.21a1,1,0,0,1-.864,1.5H1.741a1,1,0,0,1-.864-1.5Z"/>',
            $fill: var.$BORDER_COLOR_2
          );
        }
      }
    }
  }
}

// Narrow Viewport
// @include mixin.media-query($range: below) {
//   .un-l-mvCarousel {
//     $this: &;
//   }
// }

// Wide Viewport
@include mixin.media-query($breakpoint: 1020px) {
  .un-l-mvCarousel {
    $this: &;
    align-content: center;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    position: relative;
    width: 100%; // これがないとTOP、MVカルーセルがFirefoxで荒ぶる
    &__item {
      border-radius: 0 0 80px 0;
      border-bottom-right-radius: 80px; // iosでルートの指定が効いてない対策
      height: calc(100% + 102px);
      @include mixin.off-js {
        height: auto;
      }
    }
    &__wrap {
      flex-direction: row;
      height: 100%;
    }
    &__container {
      align-self: center;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      height: max-content;
      margin-top: -102px;
      max-width: 545px;
      padding-bottom: 0;
    }
    &__img {
      aspect-ratio: 14/11;
      height: calc(100% + 102px);
      margin-bottom: -102px;
      max-width: 62%;
      object-fit: cover;
    }
    &__title {
      font-size: func.calc-size(
        $tempSizeFrom: 18px,
        $tempSizeTo: 30px,
        $tempViewportFrom: var.$MAJOR_BREAKPOINT,
        $tempViewportTo: var.$MINOR_BREAKPOINT_2
      );
      margin-bottom: 24px;
    }
    &__text {
      font-size: func.calc-size(
        $tempSizeFrom: 16px,
        $tempSizeTo: 20px,
        $tempViewportFrom: var.$MAJOR_BREAKPOINT,
        $tempViewportTo: var.$MINOR_BREAKPOINT_2
      );
      line-height: 1.7;
      margin-bottom: 24px;
    }
    &__textLink {
      font-size: func.calc-size(
        $tempSizeFrom: 14px,
        $tempSizeTo: 16px,
        $tempViewportFrom: var.$MAJOR_BREAKPOINT,
        $tempViewportTo: var.$MINOR_BREAKPOINT_2
      );
    }
    &__control {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      height: max-content;
      margin-top: 0;
    }
    &__counterNumber {
      font-size: func.px-to-rem(16);
      &--current {
        font-size: func.px-to-rem(18);
      }
    }
  }
}
