@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-hr
// -----------------------------------------------------------------------------
.m-hr {
  $this: &;
  @extend %module-margin;
  & + [class^="m-heading"] {
    margin-top: var.$MOD_GUTTER_NARROW; // 見出しが隣接する場合の余白は罫線の余白が優勢
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-hr {
    $this: &;
    & + [class^="m-heading"] {
      margin-top: var.$MOD_GUTTER_WIDE; // 見出しが隣接する場合の余白は罫線の余白が優勢
    }
  }
}
