@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-layout-buttonGrid
// -----------------------------------------------------------------------------
.m-layout-buttonGrid {
  $this: &;
  @extend %module-margin-large;
  @include mixin.layout(
    $item: '.m-layout-buttonGrid__item',
    $layoutGutterHorizontalNarrow: 24,
    $layoutGutterVerticalNarrow: 16,
    $layoutGutterHorizontalWide: 32,
    $layoutGutterVerticalWide: 24,
    $layoutLoop: 2
  );
  margin-top: 24px;
}

// Wide Viewport
@include mixin.media-query {
  .m-layout-buttonGrid {
    $this: &;
    margin-top: 32px;
  }
}
