@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-layout-button
// -----------------------------------------------------------------------------
.m-layout-button {
  $this: &;
  @extend %module-margin-large;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  margin-top: 32px;
}

// Wide Viewport
@include mixin.media-query {
  .m-layout-button {
    $this: &;
    margin-top: 40px;
    &--wideLeft {
      justify-content: flex-start;
    }
    &--wideRight {
      justify-content: flex-end;
    }
  }
}
