@use '../../_common/variable' as var;
@use '../../_common/mixin/' as mixin;
@use '../../_common/extend/' as *;
@use '../../_common/function/' as func;

// .m-layout-media
// -----------------------------------------------------------------------------
.m-layout-media {
  $this: &;

  @extend %module-margin;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__content {
    @extend %reset-margin;
    flex: 1 1 100%;
  }

  &__media {
    align-self: center;
    display: table;
    flex: 0 0 auto;
    > :last-child {
      margin-bottom: 0;
    }
  }
  &__image {
    display: block;
    margin-bottom: 8px;
  }
  &__caption {
    caption-side: bottom;
    display: table-caption;
    font-size: func.px-to-rem(14);
    line-height: 1.6;
    text-align: center;
  }
}

@include mixin.media-query($range: below) {
  .m-layout-media {
    &--reverse-narrow {
      flex-direction: column-reverse;
    }
  }
}

// Wide Viewport
@include mixin.media-query {
  .m-layout-media {
    $this: &;
    column-gap: 24px;
    flex-direction: row;

    &__media {
      align-self: flex-start;
      max-width: 36%;
    }

    &--reverse-wide {
      flex-direction: row-reverse;
    }

    &--floatLeft-wide {
      display: flow-root;
      #{$this}__media {
        float: left;
        margin-bottom: 24px;
        margin-right: 24px;
      }
    }

    &--floatRight-wide {
      display: flow-root;
      #{$this}__media {
        float: right;
        margin-bottom: 24px;
        margin-left: 24px;
      }
    }

    &--floatLeft-wide,
    &--floatRight-wide {
      &#{$this}--floatLarge-wide {
        #{$this}__media {
          max-width: 60%;
        }
      }
    }

    &--fitContent {
      #{$this}__content {
        max-width: 200px;
      }
    }
  }
}
